body{
  background-image: url("http://i558.photobucket.com/albums/ss29/Jefferson_Bernal_Cardona/picas_fijas_zps0xsbmbr6.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
