<h1 class="text-center">Fijas: <%= @fijas %></h1>
<h1 class="text-center">Picas: <%= @picas %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-offset-6">
      <form action="/">
        <button type="submit" class="btn btn-default">Try again</button>
      </form>
    </div>
  </div>
